/*
The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px
## Colors
### Primary
- Dark Blue: hsl(233, 26%, 24%)
- Lime Green: hsl(136, 65%, 51%)
- Bright Cyan: hsl(192, 70%, 51%)
### Neutral
- Grayish Blue: hsl(233, 8%, 62%)
- Light Grayish Blue: hsl(220, 16%, 96%)
- Very Light Gray: hsl(0, 0%, 98%)
- White: hsl(0, 0%, 100%)
## Typography
### Body Copy
- Font size: 18px
### Font
- Family: [Public Sans](https://fonts.google.com/specimen/Public+Sans)
- Weights: 300, 400
*/
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Public Sans', sans-serif;
  font-size: 18px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center; }

a {
  text-decoration: none; }

h1, h2, h3 {
  font-weight: 300;
  text-align: center;
  color: #2d314d; }

p {
  text-align: center;
  font-weight: 300;
  color: #9698a6;
  line-height: 25px; }

hr {
  display: block;
  border: 0;
  padding: 25px; }

.col {
  display: flex;
  flex-direction: column;
  align-items: center; }

#wrapper {
  position: relative;
  max-width: 1440px; }

.align-start, .align-end {
  align-items: center; }

#main-nav {
  display: flex;
  height: 70px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  background-color: white;
  padding: 0 20px;
  z-index: 100;
  position: fixed;
  top: 0; }
  #main-nav .nav {
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    transition: linear .2s; }
    #main-nav .nav li {
      display: none;
      height: 100%; }
      #main-nav .nav li a {
        display: flex;
        align-items: center;
        height: 100%;
        color: #2d314d; }
        #main-nav .nav li a:hover {
          color: #31d35c;
          position: relative; }
  #main-nav div {
    display: flex; }
    #main-nav div a {
      height: 25px;
      width: 25px; }
    #main-nav div.hamburger a {
      background: url(/images/icon-hamburger.svg) no-repeat center center;
      transition: linear .2s; }
  #main-nav.mobile .nav {
    position: absolute;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    top: 90px;
    left: 20px;
    right: 20px;
    min-height: 260px; }
    #main-nav.mobile .nav li {
      display: flex; }
  #main-nav.mobile div a {
    background: url(/images/icon-close.svg) no-repeat center center; }
  #main-nav .btn.primary {
    display: none; }

header {
  padding-bottom: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(/images/bg-intro-mobile.svg) no-repeat top right; }
  header .mockup {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 360px;
    top: 60px; }
    header .mockup:before {
      content: "";
      position: relative;
      height: 300px;
      width: 100%;
      background: url(/images/image-mockups.png);
      background-repeat: no-repeat;
      background-size: 90%;
      background-position: bottom center; }
  header h1 {
    padding: 30px 30px 10px 30px;
    font-size: 39px; }
  header p {
    font-size: 15px;
    font-weight: 300;
    padding: 5px 20px 30px 20px; }

section#featured {
  background-color: #f3f4f6;
  padding-top: 70px;
  padding-bottom: 30px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  section#featured h2 {
    font-size: 32px;
    margin-bottom: 18px;
    width: 50%; }
  section#featured p {
    padding: 0 30px; }

section#blog-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
  padding-bottom: 30px; }
  section#blog-posts h2 {
    font-size: 32px;
    margin-bottom: 30px; }

article {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 100px;
  margin-bottom: 30px;
  font-size: 15px; }
  article.featured.online {
    background: url(/images/icon-online.svg) no-repeat top center; }
  article.featured.budgeting {
    background: url(/images/icon-budgeting.svg) no-repeat top center; }
  article.featured.onboarding {
    background: url(/images/icon-onboarding.svg) no-repeat top center; }
  article.featured.open-api {
    background: url(/images/icon-api.svg) no-repeat top center; }
  article.featured h1 {
    font-size: 20px;
    margin-bottom: 20px; }
  article.featured p {
    padding: 0 !important; }
  article.blog-post {
    padding: 0 !important;
    border-radius: 5px;
    margin: 25px;
    min-height: 393px;
    background-color: white; }
    article.blog-post div.image {
      width: 100%;
      height: 198px;
      overflow: hidden;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      margin-bottom: 20px; }
    article.blog-post img {
      width: 100%; }
    article.blog-post p, article.blog-post h1 {
      padding-left: 30px;
      padding-right: 30px;
      text-align: left; }
    article.blog-post .author, article.blog-post .title, article.blog-post .body {
      margin-bottom: 10px; }
    article.blog-post .author {
      font-size: 10px; }
    article.blog-post .title {
      font-size: 16px; }
      article.blog-post .title a {
        color: #2d314d; }
        article.blog-post .title a:hover {
          color: #31d35c; }
    article.blog-post .body {
      font-size: 13px;
      line-height: 18px; }

footer {
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  background-color: #2d314d;
  color: white; }
  footer .logo {
    padding-top: 10px;
    padding-bottom: 30px; }
  footer .copyright {
    padding: 30px 10px;
    font-size: 15px;
    color: #9698a6; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%; }

.attribution {
  margin: 20px 0;
  font-size: 11px;
  text-align: center;
  color: #9698a6; }
  .attribution a {
    color: #3e52a3;
    text-decoration: none;
    font-weight: 700; }
    .attribution a:hover {
      color: #63687e; }

.social-media {
  margin-bottom: 30px; }
  .social-media a:not(:last-child) {
    margin-right: 12px; }
  .social-media a img {
    height: 100%;
    width: 24px; }
  .social-media a:hover img {
    filter: invert(0.21) sepia(1) saturate(4) hue-rotate(72deg) brightness(0.83); }

.menu {
  align-items: center; }
  .menu.vertical {
    flex-direction: column; }
  .menu li {
    display: flex; }
    .menu li a {
      width: 100%;
      padding: 7px 0;
      text-align: center;
      font-size: 15px;
      color: white; }
      .menu li a:hover {
        color: #31d35c; }

.btn {
  padding: 14px 35px;
  font-size: 14px; }
  .btn.primary {
    background: linear-gradient(135deg, #31d35c, #2bb7da);
    color: white;
    border: transparent;
    border-radius: 30px; }
    .btn.primary:hover.primary {
      background: linear-gradient(135deg, #85e59f, #81d4e9); }

@media only screen and (min-width: 630px) {
  section#blog-posts .container, section#featured .container {
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
  article {
    width: 40%; } }

@media only screen and (min-width: 992px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
  .align-start {
    align-items: flex-start; }
  .align-end {
    align-items: flex-end; }
  footer {
    padding: 20px 30px; }
    footer .menu {
      align-items: flex-start; }
    footer nav {
      display: flex;
      flex-direction: row; }
      footer nav ul {
        display: flex;
        padding: 0 10px;
        margin-right: 40px; }
        footer nav ul li {
          text-align: start; }
    footer .logo, footer .btn {
      margin-top: 20px; }
  #main-nav .brand {
    margin-right: 50px; }
  #main-nav .nav {
    justify-content: space-between;
    align-items: center;
    width: 45%; }
    #main-nav .nav li {
      display: flex; }
      #main-nav .nav li a {
        font-size: 14px;
        color: #9698a6; }
        #main-nav .nav li a:hover:after {
          position: absolute;
          content: "";
          width: 100%;
          height: 5px;
          bottom: 0;
          background-color: #31d35c; }
  #main-nav div.hamburger {
    display: none; }
  #main-nav .btn.primary {
    display: flex; }
  header {
    background: url(/images/bg-intro-desktop.svg) no-repeat;
    background-size: 90%;
    background-position: 500px 40%; }
    header .container {
      padding-top: 90px;
      align-items: flex-start; }
      header .container .col {
        width: 40%;
        padding-left: 70px; }
    header .mockup {
      width: 60%;
      height: 40vh;
      position: absolute;
      right: 0; }
      header .mockup:before {
        top: 0;
        right: -150px;
        height: 600px; }
    header h1, header p {
      padding-left: 0;
      text-align: start; }
  article {
    width: 20%; }
    article.featured h1, article.featured p {
      text-align: left; }
    article.featured.online, article.featured.budgeting, article.featured.onboarding, article.featured.open-api {
      background-position: 30px 0; } }
